[Desktop Entry]
Name=MIU
GenericName=Image Uploader
Comment=Upload images to i.komachi.sh

Type=Application
Categories=Graphics
Icon=miu
Exec=miupload %u
StartupNotify=false
Terminal=false
